<form action="/tweets/add" method="POST">
  <h3>Add Tweet!</h3>
  <label for="title">Title</label>
  <br/>
  <input id="title" type="text" name="title"/>
  <br/>
  <br/>
  <label for="description">Description:</label>
  <br/>
  <textarea id="message" type="text" name="message"></textarea>
  <br/>
  <br/>
  <input type="submit" value="Add new Tweet"/>
  <br/>
</form>