<form action="/users/register" method="POST">
  <label for="username">Username</label>
  <br/>
  <input id="username" type="text" name="username"/>
  <br/>
  <br/>
  <label for="password">Password</label>
  <br/>
  <input id="password" type="password" name="password"/>
  <br/>
  <br/>
  <label for="firstName">First Name</label>
  <br/>
  <input id="firstName" type="text" name="firstName"/>
  <br/>
  <br/>
  <label for="lastName">Last Name</label>
  <br/>
  <input id="lastName" type="text" name="lastName"/>
  <br/>
  <br/>
  <input type="submit" name="Register"/>
  <br/>
</form>